
@mixin animated($duration) {
  animation-duration: $duration;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fadeIn {
  animation-name: fadeIn;
}

%messageText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
  width: fit-content;
  max-width: 70%;
  font-size: 16px;
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 5px;
  @include animated(0.6s);
  @include fadeInUp;
}

@mixin button($background-color) {
  background-color: $background-color;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-transform: initial;
  font-size: 16px;
  &:hover {
    background-color: darken($background-color, 8);
  }
}

.chatbox-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 320px;
  width: 35%;
  margin: auto;
  height: 300px;
  opacity: 0.85;
  .message-input {
    overflow: hidden;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 20px;
    min-height: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    @include animated(0.6s);
    @include fadeIn;
    textarea {
      font-size: 19px;
      line-height: 19px;
      overflow: hidden;
      transition: 0.5s;
    }
  }
  .chatbox-body {
    overflow: auto;
    // padding: 15px;
    & > div:first-child {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .progress {
      align-self: center;
    }
    .button-groups {
      margin: 20px auto;
      @include animated(0.6s);
      @include fadeInUp;
      .success-button {
        @include button(#7ed321);
        margin-right: 10px;
      }
      .failure-button {
        @include button(#e05d5d)
        // background-color: #e05d5d;
        // color: white;
        // border: none;
        // border-radius: 3px;
        // &:hover {
        //   background-color: darken(#e05d5d, 8);
        // }
      }
    }
    .admin {
      @extend %messageText;
      color:#fff; 
      background: #0B93F6;
      align-self: flex-start;
      border-radius: 20px 20px 20px 2px;
      // &:before {
      //   content:"";
      //   position:absolute;
      //   z-index:-1;
      //   bottom:-2px;
      //   right:-7px;
      //   height:20px;
      //   border-right:20px solid #0B93F6;
      //   border-bottom-left-radius: 16px 16px;
      //   -webkit-transform:translate(0, -2px);
      // }
    
      // &:after {
      //   content:"";
      //   position:absolute;
      //   z-index:1;
      //   bottom:-2px;
      //   right:-56px;
      //   width:26px;
      //   height:20px;
      //   background:white;
      //   border-bottom-left-radius: 10px;
      //   -webkit-transform:translate(-30px, -2px);
      // }
    }
    .user {
      @extend %messageText;
      border-radius: 20px 20px 2px;
      background: #E5E5EA;
      color: black;
      align-self: flex-end;
      // &:before {
      //   content:"";
      //   position: absolute;
      //   z-index: 2;
      //   bottom: -2px;
      //   left :-7px;
      //   height: 20px;
      //   border-left: 20px solid #E5E5EA;
      //   border-bottom-right-radius: 16px 16px;
      //   -webkit-transform: translate(0, -2px);
      // }
    
      // &:after {
      //   content:"";
      //   position:absolute;
      //   z-index:3;
      //   bottom:-2px;
      //   left:4px;
      //   width:26px;
      //   height:20px;
      //   background:white;
      //   border-bottom-right-radius: 10px;
      //   -webkit-transform:translate(-30px, -2px);
      // }
    }
  }
}
