.jobs-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
  .job-container {
    max-width: 280px;
    min-width: 280px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    .avatar {
      background-color: #ffadad,
    }
  }
}